<div class="game-field">
    <div class="game-field__row">
        <div class="game-field__cell">
            <div class="game-field__slot" (drop)="dragDrop($event)" (dragover)="onDragOver($event)"></div>
        </div>
        <div class="game-field__cell">
            <div class="game-field__slot" (drop)="dragDrop($event)" (dragover)="onDragOver($event)"></div>
        </div>
        <div class="game-field__cell">
            <div class="game-field__slot" (drop)="dragDrop($event)" (dragover)="onDragOver($event)"></div>
        </div>
        <div class="game-field__cell">
            <div class="game-field__slot" (drop)="dragDrop($event)" (dragover)="onDragOver($event)"></div>
        </div>
    </div>
    <div class="game-field__row">
        <div class="game-field__cell">
            <div class="game-field__slot" (drop)="dragDrop($event)" (dragover)="onDragOver($event)"></div>
        </div>
        <div class="game-field__cell">
            <div class="game-field__slot" (drop)="dragDrop($event)" (dragover)="onDragOver($event)"></div>
        </div>
        <div class="game-field__cell">
            <div class="game-field__slot" (drop)="dragDrop($event)" (dragover)="onDragOver($event)"></div>
        </div>
        <div class="game-field__cell">
            <div class="game-field__slot" (drop)="dragDrop($event)" (dragover)="onDragOver($event)"></div>
        </div>
    </div>
    <div class="game-field__row">
        <div class="game-field__cell">
            <div class="game-field__slot" (drop)="dragDrop($event)" (dragover)="onDragOver($event)"></div>
        </div>
        <div class="game-field__cell">
            <div class="game-field__slot" (drop)="dragDrop($event)" (dragover)="onDragOver($event)"></div>
        </div>
        <div class="game-field__cell">
            <div class="game-field__slot" (drop)="dragDrop($event)" (dragover)="onDragOver($event)"></div>
        </div>
        <div class="game-field__cell">
            <div class="game-field__slot" (drop)="dragDrop($event)" (dragover)="onDragOver($event)"></div>
        </div>
    </div>
</div>