<div class="play-card" 
     [ngClass]="['play-card--player-' + currentCard.player, capturedByPlayer ? 'play-card--captured-by-player-' + currentCard.player : '', !currentCard.onField ? 'play-card--pristine' : '']"
     [ngStyle]="cardStyles" 
     [attr.draggable]="!currentCard.onField && currentCard.player === turn" 
     (dragstart)="dragStart($event, currentCard);">

    <div *ngFor="let triangle of currentCard.attackSides" 
         class="play-card__attack-triangle play-card__attack-triangle--{{triangle}}"
         [ngClass]="{'play-card__attack-triangle--attack': (currentCard._id === attackCard._id && attackCard.sides.indexOf(triangle) >= 0) }"></div>

    <img class="play-card__img" src="https://api.adorable.io/avatars/120/{{imgStr}}">
</div>