<div class="play-card" draggable="true" ondragstart="console.log(1)">

    <div class="play-card__attack-triangle play-card__attack-triangle--top-left"></div>
    <div class="play-card__attack-triangle play-card__attack-triangle--top"></div>
    <div class="play-card__attack-triangle play-card__attack-triangle--top-right"></div>
    <div class="play-card__attack-triangle play-card__attack-triangle--right"></div>
    <div class="play-card__attack-triangle play-card__attack-triangle--bottom-right"></div>
    <div class="play-card__attack-triangle play-card__attack-triangle--bottom"></div>
    <div class="play-card__attack-triangle play-card__attack-triangle--bottom-left"></div>
    <div class="play-card__attack-triangle play-card__attack-triangle--left"></div>

    <img class="play-card__img" src="https://api.adorable.io/avatars/60/{{generateStr()}}">
</div>