<div class="container-fluid">
<h1>Chat:</h1>
<section class="wrap" id="myApp">
    <div id="messages"></div>
    <div class="push"></div>
</section>
<footer class="footer">
    <div class="row">
        <div class="col-sm-8">
        <input type="text" id="message-box" class="form-control input-lg" placeholder="Write a msg">
        </div>
        <div class="col-sm-4">
        <button class="btn btn-primary btn-lg btn-block" id="send-message-btn">Send</button>
        </div>
    </div>
</footer>
</div>