<div class="game-container">

    <div class="layout__player">
        <div *ngFor="let card of cards" >
            <my-card *ngIf="card.player == currentPlayer || card.onField" [currentCard]="card" [capturedCards]="capturedCards" [attackCard]="attackCard" [dragStart]="dragStart"></my-card>
        </div>
    </div>

    <div class="layout__game-field">
        <my-field [dragDrop]="dragDrop"></my-field>
    </div>

    <div class="layout__opponent">
                
    </div>
</div>

<my-chat></my-chat>
