
.game-container {
    display: flex;
    position: relative;
}

.game {

    &__player {
        display: inline-block;
        margin: 8px;
    }

    &__url {
        display: inline-block;
        margin: 10px;
    }

    &__input {
        display: inline-block;
        width: auto;

        &,
        &:focus,
        &:active {
            outline: 0;
        }
    }

    &__modal {
        display: block;
        padding-right: 17px;
        background: rgba(0,0,0,0.25);
    }

}