
<div class="clearfix">
    <h2 class="game__player">Player: {{currentPlayer}}</h2>

    <div class="game__url pull-right">
        Game Url:
        <input class="game__input form-control" type="text" value="http://localhost:8080/game#{{gameId}}" size="51" onClick="this.select();" readonly>
    </div>
</div>


<div class="game-container">

    <div class="layout__player">
        <div *ngFor="let card of cards" >
            <my-card *ngIf="card.player == currentPlayer || card.onField" [currentCard]="card" [turn]="turn" [capturedCards]="capturedCards" [attackCard]="attackCard" [dragStart]="dragStart"></my-card>
        </div>
    </div>

    <div class="layout__game-field">
        <my-field [dragDrop]="dragDrop"></my-field>
    </div>

</div>

<my-chat></my-chat>
