.page-header {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #E1004C;
    text-align: center;
    color: white;
}

.page-footer {
	padding: 20px;
	color: white;
	text-align: center;
	background-color: #212121;
}

a {
    color: white;
    text-decoration: none;
}