
html,
body {
	height: 100%;
}

my-app {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

main {
	flex: 1;
}

.layout {
	
	&__container {
		max-width: 100%;
		margin: 0 auto;
		padding: 20px;
		display: flex;
	}

	&__player {
		width: $layout-player-w;
		height: $layout-player-h;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: center;
		align-content: space-around;
		align-items: center;
	}

	&__opponent {
		width: $layout-opponent-w;
	}

	&__game-field {
		flex: 1;
	}
}